<div class="row">
  <div class="col-2">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-title-1">Groomsen</a>
      <a class="list-group-item list-group-item-action" href="#list-item-title-2">Bridesmaids</a>
      <a class="list-group-item list-group-item-action" href="#list-item-title-3">Parents of the bride</a>
      <a class="list-group-item list-group-item-action" href="#list-item-title-4">Parents of the groom</a>
    </div>
    <%= (link_to "Add a new vip", new_wedding_vip_path, class: "add-vip") if current_user.host? %>
  </div>
  <div class="col-4">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="list-item-title-1">Groomsmen</h4>
        <p><% @groomsmen.each do |vip| %>
          <div class="vip-card">
            <h3><%= vip.name %></h3>
            <p><%= vip.description %></p>
            <% if vip.photo.key.present? %>
              <%= cl_image_tag vip.photo.key, height: 300, width: 400, crop: :fill, cloud_name: :dzyug4vno %>
            <% end %>
            <%= (link_to "Delete this person  - ", wedding_vips_path(vip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) if current_user.host? %>
            <%= (link_to "Edit this person", edit_wedding_path(vip)) if current_user.host? %>
          </div>
        <% end %>
      <h4 id="list-item-title-2">Bridesmaids</h4>
        <p><% @bridesmaids.each do |vip| %>
          <div class="vip-card">
            <h3><%= vip.name %></h3>
            <p><%= vip.description %></p>
            <p><%= vip.category %></p>
            <% if vip.photo.key.present? %>
              <%= cl_image_tag vip.photo.key, height: 300, width: 400, crop: :fill, cloud_name: :dzyug4vno %>
            <% end %>
            <%= (link_to "Delete this person  - ", wedding_vips_path(vip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) if current_user.host? %>
            <%= (link_to "Edit this person", edit_wedding_path(vip)) if current_user.host? %>
          </div>
        <% end %>
      <h4 id="list-item-title-3">Parents of the Bride</h4>
        <p><% @pbride.each do |vip| %>
          <div class="vip-card">
            <h3><%= vip.name %></h3>
            <p><%= vip.description %></p>
            <%= vip.category %></p>
            <% if vip.photo.key.present? %>
              <%= cl_image_tag vip.photo.key, height: 300, width: 400, crop: :fill, cloud_name: :dzyug4vno %>
            <% end %>
            <%= (link_to "Delete this person  - ", wedding_vips_path(vip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) if current_user.host? %>
            <%= (link_to "Edit this person", edit_wedding_path(vip)) if current_user.host? %>
          </div>
        <% end %>
      <h4 id="list-item-title-4">Parents of the Groom</h4>
        <p><% @pgroom.each do |vip| %>
          <div class="vip-card">
            <h3><%= vip.name %></h3>
            <p><%= vip.description %></p>
            <%= vip.category %></p>
            <% if vip.photo.key.present? %>
              <%= cl_image_tag vip.photo.key, height: 300, width: 400, crop: :fill, cloud_name: :dzyug4vno %>
            <% end %>
            <%= (link_to "Delete this person  - ", wedding_vips_path(vip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) if current_user.host? %>
            <%= (link_to "Edit this person", edit_wedding_path(vip)) if current_user.host? %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="col-6">
    <img src="https://res.cloudinary.com/dzyug4vno/image/upload/v1663071841/development/DSC02516_w906un.jpg" class="image7">
  </div>
</div>
