<%= link_to "Add an event to your schedule", new_wedding_schedule_path, class: "btnx" %>
<h1 class="schedule-title">Order of the day</h1>
<div class="schedule-data">
  <div>
    <img class="circle" src="https://res.cloudinary.com/dzyug4vno/image/upload/v1663071844/development/DSC02485_g4xrxf.jpg" />
  </div>
  <div class="text col-4">
    <% i = 1 %>
    <% @schedules.each do |schedule| %>
      <% if i.odd?  %>
        <div class="text-right">
          <h3><%= schedule.time.strftime("%I:%M%p") %></h3>
          <p><%= schedule.description %></p>
        </div>
      <% else %>
        <div class="text-left">
          <h3><%= schedule.time.strftime("%I:%M%p") %></h3>
          <p><%= schedule.description %></p>
        </div>
      <% end %>
      <% i += 1 %>
    <% end %>
  </div>
</div>
