<header id="header">
  <nav class="links" style="--items: 5;">
  <ul class="nav">
      <% if user_signed_in? %>
        <li><a class="dropdown-item" href="/weddings">Exit</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Home", wedding_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "RSVP", wedding_rsvps_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "RSVP Form", new_wedding_rsvp_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "People", wedding_vips_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "Schedule", wedding_schedules_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "Accomodation", wedding_accomodation_info_index_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      <% else %>
        <li>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <span class="line"></span>
  </nav>
</header>
