<header id="header">
  <nav class="links" style="--items: 5;">
  <ul class="nav">
      <div class="search-buttons">
        <li><a class="dropdown-item" href="/weddings">exit</a></li>
        <li><%= link_to "home", wedding_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "accomodation", wedding_accomodation_info_index_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "rsvp", wedding_rsvps_path(@wedding), class: "dropdown-item" %></li>
      </div>
        <img src="https://res.cloudinary.com/dzyug4vno/image/upload/v1663073606/development/white_logo5_zg3ixw.png">
      <div class="search-buttons">
        <li><%= link_to "rsvp form", new_wedding_rsvp_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "people", wedding_vips_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "schedule", wedding_schedules_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      </div>
    </ul>
  </nav>
</header>
