<div class="rsvp">
<h1 class="text-title">RSVP</h1>
  <div class="table-container">
    <table class="table">
      <tr>
        <th>name</th>
        <th>attendance</th>
        <th>meal_choice</th>
        <th>spotify_song</th>
      </tr>
      <p>Total guests coming:</p>
      <%= @total_participants %>
      <tr>
      <% @rsvps.each do |rsvp| %>
        <td><%=rsvp.attendee%></td>
        <td><%=rsvp.attendance%></td>
        <td><%=rsvp.meal_choice unless rsvp.attendance == "No"%></td>
        <td><%=rsvp.spotify_song unless rsvp.attendance == "No"%></td>
      </tr>
      <% end %>
      </table>
   </div>
  </div>
