<div class="rsvp">
<h1 class="text-title">RSVP</h1>
      <div class="total-counter">
        <p>Total guests attending:</p>
        <%= @total_participants %>
      </div>
  <div class="table-container">
    <table class="table">
      <tr class="rsvp-table-headers">
        <th>NAME</th>
        <th>COMING?</th>
        <th>MEAL CHOICE</th>
        <th>SONG CHOICE</th>
      </tr>
      <tr>
      <% @rsvps.each do |rsvp| %>
        <td><%=rsvp.attendee%></td>
        <td><%=rsvp.attendance%></td>
        <td><%=rsvp.meal_choice unless rsvp.attendance == "No"%></td>
        <td><%=rsvp.spotify_song unless rsvp.attendance == "No"%></td>
      </tr>
      <% end %>
      </table>
   </div>
  </div>
