<div class="rsvp-form">
  <%= simple_form_for([@wedding,@rsvp]) do |f| %>
    <%= f.input :meal_choice %>
    <%= f.input :spotify_song %>
    <%= f.input :attendance %>
    <%= f.input :attendee %>
    <%= f.submit "Complete the form", class: "btn btn-primary" %>
  <% end %>
</div>
