
<header id="header">
  <nav class="links" style="--items: 5;">
  <ul class="nav">
      <% if user_signed_in? %>
        <li><%= link_to "Add your new wedding", new_wedding_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<div class="entire">
<%# <div class="pagez"> %>
  <h1 class="header"> Upcoming Weddings </h1>
  <div class="cards">
    <%@weddings.each do |wedding| %>
      <%= link_to wedding_wedding_guests_path(wedding), data: { "turbo-method": :post }, class:"text-decoration-none" do %>
        <div class="card mt-5" data-controller="timer">
          <% wedding.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, cloud_name: :dzyug4vno %>
            <div class= "card-body", >
              <h5 class="card-title"><%= wedding.page_heading %></h5>
              <p class="wedding-card-text"> <%= wedding.info %></p>
              <p class="wedding-card-text", data-timer-target="date" ><%= wedding.date %></p>
              <p data-timer-target="demo">How many days?</p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<%# </div> %>
</div>
