<div class="pagez">
  <h1 class="header"> Upcoming Weddings </h1>
  <div class="cards">
    <%@weddings.each do |wedding| %>
      <%= link_to wedding_wedding_guests_path(wedding), data: { "turbo-method": :post }, class:"text-decoration-none" do %>
        <div class="card mt-5">
          <% wedding.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, cloud_name: :dzyug4vno %>
            <div class= "card-body">
              <h5 class="card-title"><%= wedding.page_heading %></h5>
              <p class="wedding-card-text"> <%= wedding.info %></p>
              <p class="wedding-card-text"><%= wedding.date %></p>
              <%# <a href="#" class="btn btn-primary">select this wedding</a> %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="add">
      <%= link_to "Add your new wedding", new_wedding_path, class: "t btn-flat" %>
  </div>
</div>
