
<div class="row d-flex justify-content-center align-items-center h-100">
<br></br>

<div class="card_signup mx-12 mx-lg-12 shadow-5-strong" style="
      margin-top: 30px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
      ">

  <h1 class="formheader">Add a new wedding</h1>

<%# <div class="form" style="width: 50vw; margin-left: 100px"> %>
  <%= simple_form_for(@wedding) do |f| %>
    <%= f.input :info %>
    <%= f.input :date %>
    <%= f.input :page_heading %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add your new wedding", class: "btn btn-flat mt-4" %>
  <% end %>
</div>
<%# </div> %>
