<div class="page">
  <div class="buttonx">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <% if user_signed_in? %>
        <li><a class="dropdown-item" href="/weddings">Exit</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Home", wedding_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "RSVP", wedding_rsvps_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "RSVP", new_wedding_rsvp_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "Meet some new faces", wedding_vips_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "Schedule", wedding_schedules_path(@wedding), class: "dropdown-item" %></li>
        <li><%= link_to "Accomodations", wedding_accomodation_info_index_path(@wedding), class: "dropdown-item" %></li>

        <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      <% else %>
        <li>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="data">
    <img src="https://images.pexels.com/photos/4060469/pexels-photo-4060469.jpeg?cs=srgb&dl=pexels-agostino-toselli-4060469.jpg&fm=jpg" alt="" class="image5">
    <%# <img src="https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg" class="image3"> %>
    <img src="https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?cs=srgb&dl=pexels-emma-bauso-2253870.jpg&fm=jpg" class="image2">
    <h1><%= @wedding.page_heading %></h1>
    <h2><%= @wedding.date %></h2>
    <p><%= @wedding.info %></p>
  </div>

 <% if @wedding.photos.present?  %>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <% i = 0 %>
      <% @wedding.photos.each do |photo| %>
      <% if i == 0 %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100" %>
          </div>
          <% i += 1 %>
        <% else %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

  <%= render 'edit', wedding: @wedding %>

</div>
